body, html{
  margin: 0;
  font-family: 'Roboto', 'sans-serif', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1f2d3f;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

.main-content {
  background: url('../src/assets/images/car-wireframe.png');
  margin-left: 500px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: right 0% bottom 45%;
  background-attachment: fixed;
  background-size: auto 60%;
}

::placeholder {
  color: #ccc;
}

@media (max-width: 1024px) {
  .main-content {
    margin: 0;
  }
}